<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} <h1>Demo Django</h1>
   <div class="con">
    <table>
        <tr>
            <th>name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>phone no</th>
        </tr>
        <tbody>
            {% for data in d %}
            <tr>
            <td>{{data.Name}}</td>
            <td>{{data.Last}}</td>
            <td>{{data.Email}}</td>
            <td>{{data.Phone_no}}</td>          
        </tr>
        {% endfor %}
           
        </tbody>
    </table>

   </div> {% endcomment %}
<div class="c">

    <ul>
        <li> <a href="home">Home</a> </li>
        <li>Admin</li>
        <li>About</li>
    </ul>
</div>
{% block body %}{% endblock body %}
 
   
</body>
</html>